footer {
    background-color:  #dfdede;
    margin-top: 2rem;
   }
   
   ul {
     line-height: 2rem;
   }
   
   ul li {
     list-style-type: none;
   }
   
   ul li a {
     text-decoration: none;
     font-size: 1.1rem;
     color:#3E3E3E;
   }
   
   .iconoRedes {
     font-size: 2rem;
     padding: 0.5rem;
     border-radius: 10px;
   }
   
   .iconoRedes:hover {
     background-color:  #A5A5A5;
     cursor: pointer;
    
   }

  