.bg-gris3 {
    background-color: #F5F6FA;
  }
  
  .nosotrosTexto {
    font-style: italic;
  
  }
  
  .bg-verde {
    background-color: #3A8337;
  }
  
  .tituloNosotros {
    font-size: 24px;
    color:white;
    font-weight: 500;
  }

  